.MM{
    background-color: #dab3b3;
    display: flex;
    padding: 100px;

}
.llu{
    background-color:maroon;
    border: 1px;
    padding: 20px;

}
.ssu{
    margin-right: 40px;
    padding: 20px;
    background-color: #418fa6;

}
.aa {
    font-size: 40px
}
input[type=submit]{
    text-align: right;
    height: 45px;
    float: right;
    background-color: greenyellow;
}
input[type=submit]:hover{
    background-color: #e8c71d;

}
